{% load static %}
<nav class="navbar navbar-expand-md navbar-dark sticky-top example box " style="background-color:black;">
    <a href="{% url 'home' %}" class="navbar-brand">
        <img src="{% static 'img/logo.png' %}" alt="HTML tutorial" class="mx-auto d-block">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse justify-content-end " id="collapsibleNavbar">
        <ul class="navbar-nav" id="navMenus">
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'home' %}">หน้าแรก</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'register' %}">สมัครสมาชิก</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'search' %}">แจ้งการโอนชำระ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'login' %}">เข้าสู่ระบบ</a>
            </li>
        </ul>
    </div>
</nav>

<script>
    $("#navMenus").on('click', 'li', function () {
        $("#navMenus li.active").removeClass("active");
        $(this).addClass("active");
    });
</script>