{% extends 'home_base.html' %}
{% block title %}ติดต่อเรา{% endblock title %}
{% load static %}
{% block body %}

  <div class="mt-4 px-3" style="padding: 24px 0px 0px 0px;">
    <p class="text-center A10" id="myH1"><b>RISCHEST GROWE</b></p>
    <p class="text-center">ศูนย์รวมเครื่องสำอางค์และครีมบำรุงผิวแบบครบวงจรที่ปฏิวัติโลกแห่งความงาม <br> อาหารเสริมที่เป็นมากกว่าอาหารเสริม "คุ้มค่า ครบถ้วน ทั้งความงามและสุขภาพ"</p>
  </div>
<div class="container mt-4 pad-con">
  <div class="row " style="text-align: center;color: white;">
        <div class="col-lg-4 pb-3 pt-3">
            <div class="shadow p-3 mb-5 bg-dark" style="border-radius: 1.25rem!important;">
                <div class="pb-3 pt-3">
                    <i class='fab fa-facebook-square gradient-text'></i>
                </div>
                <div>
                    <p>FACEBOOK PAGE</p>
                    <p style="font-size:0.9rem;">Richest Brand ความงามคู่ความมั่งคั่ง</p>
                </div>
                <div class="pb-3 pt-3">
                    <a href="https://www.facebook.com/richestglobal" target="_brank" class="btn" id="border-radius-connect"><h5 class="card-title">ติดต่อเรา</h5></a>   
                </div>
            </div>
        </div>
        <div class="col-lg-4 pb-3 pt-3">
            <div class="shadow p-3 mb-5 bg-dark" style="border-radius: 1.25rem!important;">
                <div class="pb-3 pt-3">
                    <i class='fab fa-line gradient-text'></i>
                </div>
                <div>
                    <p>RISCHEST HOME</p>
                    <p>@richesthome</p>
                </div>
                <div class="pb-3 pt-3">
                    <a href="http://line.me/ti/p/~@richesthome" target="_brank" class="btn" id="border-radius-connect"><h5 class="card-title">ติดต่อเรา</h5></a>
                </div>
            </div>

        </div>
        <div class="col-lg-4 pb-3 pt-3">
            <div class="shadow p-3 mb-5 bg-dark" style="border-radius: 1.25rem!important;">
                <div class="pb-3 pt-3">
                    <i class='fas fa-phone-square-alt gradient-text'></i>
                </div>
                <div>
                    <p>PHONE</p>
                    <p>095 - 4953 - 878</p>
                </div>
                <div class="pb-3 pt-3">
                    <a href="tel:0954953878" target="_brank" class="btn" id="border-radius-connect"><h5 class="card-title">ติดต่อเรา</h5></a>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="mt-4 pb-5" style="padding: 24px 0px 0px 0px;">
    <p class="text-center">บริษัท พันล้านความงาม จำกัด <br> 444 ม. 4 ต.บางบ่อ อ.บางบ่อ จ.สมุทรปราการ 10560</p>
</div>
{% endblock body %}