{% extends 'home_base.html' %}
{% block title %}สินค้า{% endblock title %}
{% load static %}
{% load thaidate %}
{% block body %}
<main>    
    <div class="d-flex justify-content-center" id="example2" style="background-color:white;">
        <div class="container">
            <div class="">
                <form class="d-flex align-items-center" action="{% url 'searchproduct' %}" method="get">
                    <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                    <button class="btn-outline-success" id="btn" type="submit"><i class='fas fa-search' style='font-size:24px'></i></button>
                </form>
            </div>
            <div class="row row-cols-auto MT-3 justify-content-center">
                {% for category in links %}
                <div class="col border-right">
                    <ul class="navbar-nav navbar-right">
                        <li class="nav-item active">
                            <a href="{% url 'product_by_category' category.slug %}" style="color: black;"><span class="border-end">{{category.name}}</span></a> 
                        </li>
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
        <div class="margin-pd">
            <div class="album">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
                    {% for product in product %}
                    <div class="col-6 col-sm mb-2">
                        <div class="card h-100 shadow-sm mb-1 bg-white rounded">
                            <a href="{% url 'productDetail' product.slug %}">
                                <img src="{{product.image.url}}" class="card-img-top" alt="..." style="width: 100%;">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title"><a href="{% url 'productDetail' product.slug %}" style="color: black;">{{product.name}}</a></h5>
                                {% comment %} <div class="thumbnail-a">{{product.description | safe}}</div> {% endcomment %}
                                <div class="thumbnail-a"><p class="thumbnail-a">{{product.description | safe}}</p></div>
                                <p class="card-text">
                                    <small class="text-muted">{{product.category}}</small> /
                                    <small class="text-muted">{{product.created | thaidate:"d M Y"}}</small>
                                </p>
                                <div class=" d-flex justify-content-center">
                                    {% if product.stock <= 0 %}
                                        <h5 class="text-danger">สินค้าหมด</h5>
                                    {% else %}
                                        <a href="{%url 'addCart' product.id %}" class="btn btn-warning border-radius">เพิ่มลงตะกร้า</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>

<script src="{% static 'script.js' %}"></script>
<script>
    $(document).ready(function() {
        $('li.active').removeClass('active');
        $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
    });
</script>
{% endblock body %}