{% extends "home_base.html" %}
{% block title %}สินค้า{% endblock title %}
{% load static %}
{% load thaidate %}
{% block body %}
<main>
    {% comment %} <div class="margin">
        <div class="row justify-content-md-center mt-4">
            {% for product in product %}
                <div class="col-6 col-sm mb-2">
                    <a href="{% url 'detail' product.id %}">
                        <img src="{{product.image.url}}" alt="HTML tutorial" style="width: 100%;">
                    </a>
                    <h4 class="card-title"><a href="{% url 'detail' product.id %}" style="color: black;">{{product.name}}</a></h4>
                    <div class="thumbnail-a">{{product.description | safe}}</div>
                    <p class="card-text"><small class="text-muted">วันที่อัพเดตสินค้า : {{product.created | thaidate:"d M Y"}}</small></p>
                    <div class=" d-flex justify-content-center" style="padding: 5%;">
                        {% if product.stock <= 0 %}
                            <h5 class="text-danger">สินค้าหมด</h5>
                        {% else %}
                            <a href="{%url 'addCart' product.id %}" class="btn btn-warning border-radius">สั่งซื้อ</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div> {% endcomment %}

    <div class="container">
        <div class="row mt-4">
            {% for product in product %}
            <div class="col-md-6">
                <div class="row justify-content-md-center mt-4">
                        <div class="col-6 col-sm mb-2">
                            <a href="{% url 'detail' product.id %}">
                                <img src="{{product.image.url}}" alt="HTML tutorial" style="width: 100%;">
                            </a>
                            {% comment %} <h4 class="card-title"><a href="{% url 'detail' product.id %}" style="color: black;">{{product.name}}</a></h4>
                            <div class="thumbnail-a">{{product.description | safe}}</div> {% endcomment %}
                            <p class="card-text mt-2"><small class="text-muted">วันที่อัพเดตสินค้า : {{product.created | thaidate:"d M Y"}}</small></p>
                        </div>
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <h1>ชื่อสินค้า {{product.name}}</h1>
                <h5>ราคาสินค้า {{product.price}} บาท</h5>
                <div class="d-flex justify-content-center mb-3" style="align-items: center;">
                    จำนวน
                    <form id='myform' method='POST' action='#' class="d-flex justify-content-center" style="height: 30px;">
                        <input type='button' value='-' class='qtyminus btn-input' field='quantity' style="margin-right: 15px;" />
                        <input type='text' name='quantity' value='0' style="width: 20%;/* padding-left: 20px; */text-align: center;margin:0px 0px 0px 0px;" />
                        <input type='button' value='+' class='qtyplus btn-input' field='quantity' style="margin-left: 15px;" />
                    </form>
                </div>
                <div class="row d-flex justify-content-center mt-2">
                    {% if product.stock <= 0 %}
                        <h5 class="text-danger">สินค้าหมด</h5>
                    {% else %}
                        <div class="col-sm-6 mb-3">
                            <a href="{%url 'addCart' product.id %}" class="btn " id="border-radius">เพิ่มลงในตะกร้า</a>
                        </div>
                        <div class="col-sm-6">
                            {% comment %} <a href="" class="btn btn-warning ">สั่งซื้อ</a> {% endcomment %}
                            <a href="" class="btn btn-warning">สั่งซื้อ</a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-12">
                <div class="d-tail mt-4">
                    <h5 class="py-3 px-3">รายละเอียด</h5>
                        <div class="py-3 px-3">{{product.description | safe}}</div>
                </div>
              <hr size="20" noshade>  
            </div> 
            {% endfor %}   
        </div>
    </div>
    
</main>
<script src="{% static 'script.js' %}"></script>
{% endblock body %}